table th{
    text-align: center;
    font-size: large;
    padding-right:20px;
}


.clickable:hover{
    background:red;
    cursor: pointer;
}
.detail div{
    background-color:cornsilk;
    padding:0;
}
.img-caption{
     text-align:center;   
}